{% include svg-icons.html %}

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}

<!-- 其他 footer 内容 -->
{% if site.footer-links.play-music %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
    var audio = document.getElementById("footer-background-music");
    var button = document.getElementById("footer-play-music-button");

    button.addEventListener("click", function(event) {
      event.preventDefault(); // 阻止默认链接行为
      if (audio.paused) {
        audio.play();
      } else {
        audio.pause();
      }
    });

    audio.volume = 0.5; // 设置音量，范围是 0.0 到 1.0
    });
</script>
{% endif %}